[user]
	name = Jad
	email = jadinvt@gmail.com
[push]
	default = current
[color "status"]
	modified = green
	changed = green
	header = magenta bold
	untracked = white
[alias]
	commend = commit --amend --no-edit
	dry-run = --no-commit --no-ff
	shorty = status --short --branch
	merc = merge --no-ff
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
