.ICEauthority
.Skype/
.Xauthority
.adobe/
.apport-ignore.xml
.audacity-data/
.bash_aliases.swp
.bash_history
.bash_logout
.cache/
.compiz-1/
.config.git/
.config/
.dbus/
.dmrc
.emacs
.esd_auth
.fontconfig/
.fvwm2rc
.gconf/
.gksu.lock
.gnome2/
.goutputstream-2TIDQW
.goutputstream-4NPOOW
.goutputstream-6L2UPW
.goutputstream-6Q2MOW
.goutputstream-BFJ0OW
.goutputstream-C1MYRW
.goutputstream-HT5DPW
.goutputstream-I9TJQW
.goutputstream-IO4DPW
.goutputstream-IXE2OW
.goutputstream-L3XWPW
.goutputstream-LC5VOW
.goutputstream-MO27OW
.goutputstream-SZNFPW
.goutputstream-UM5GRW
.gstreamer-0.10/
.gtk-bookmarks
.hgrc
.hplip/
.lesshst
.local/
.macromedia/
.mission-control/
.mozilla/
.pki/
.profile
.pulse-cookie
.pulse/
.shotwell/
.skypecallrecorder.lock
.skypecallrecorder.rc
.ssh/
.sudo_as_admin_successful
.thumbnails/
.vim/
.viminfo
.vimrc
.virtual_envs/
.virtualenvs/
.xinitrc
.xsession-errors
.xsession-errors.old
2012-11-29.mp3
2012-12-09/
Desktop/
Downloads/
Pictures/
Skype Calls/
Skype_Calls/
Ubuntu One/
bin/exec.sh
bin/push.sh
bin/update-environment.sh
blog/
config.git/
dotfiles/
dwhelper/
etc/machine_list.txt
etc/resources.txt
examples.desktop
home.tar.gz
podcasts/
spwd.txt
unix-environment/

